html {
    background-color: #333;
    font-family: helvetica;
}

* {
    padding: 10px;
}
nav {background-color: #ccc;}
header,
footer {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background: #ddaa00;
    border-top: 10px solid black;
    color: white;
}
header nav {
    margin-right: auto;
    margin-left: auto;
}
main {
    display: flex;
    flex-wrap: wrap;

    background-color: grey;
}

body, section {
    background-color: white;
    margin: 5px;
}
img {
    background-color: #ccc;
    padding: 0;
}
h1 {
    margin: 0;
}
nav {
    padding: 5px 2px;
    display: flex;
}
nav a {
    flex-grow: 1;
    margin: 0 5px;
    background-color: white;
    color: #ddaa00;
    text-align: center;
    text-decoration: none;
    border: 1px solid #333;
}
section img,
section > a {
    width: 100%;
    background: #fff;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #666;
    font-size: 1em;
    text-align: center;
    display:inline-block;
    box-sizing: border-box;
}

@media screen and (min-width: 700px){
    main {
        flex-wrap: nowrap;
    }

}





