.caption {
    font-family: helvetica;
    font-size: 16px;
    margin-top: 12px;
}

.grid {
    text-align: center;
    display: grid;
    grid-template-areas:
        'header'
        'nav'
        'main'
        'main'
        'main'
        'main'
        'aside'
        'footer';
    grid-template-columns: 100%;

}

.gridHeader {
    background-color: #dcd6fe;
    padding: 20px;
    grid-area: header;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
}

.gridNav {
    background-color: #c6c0ff;
    padding: 20px;
    grid-area: nav;
    border-bottom: white solid 1px;
}

.gridMain {
    background-color: #f9f6d2;
    padding: 20px;
    grid-area: main;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
}

.gridAside {
    background-color: #d4ffd1;
    padding: 20px;
    grid-area: aside;
    border-bottom: white solid 1px;
}

.gridFooter {
    background-color: #ffd1d1;
    padding: 20px;
    grid-area: footer;
    border-top: white solid 1px;
}
@media screen and (min-width: 786px){
    .grid{
        min-height: 800px;
        display: grid;
        grid-template-areas:
        'header header header header header'
        '. nav main aside .' /*puntje om aan te tonen dat er een kolom is maar dat ie niet wordt gebruikt*/
        'footer footer footer footer footer';
        grid-template-columns: 5% 10% auto 10% 5%;
        grid-template-rows: 1fr 4fr 1fr;
    }
    .gridMain {
        border: white solid 1px;
    }
}
