tr td.otherMonth {
    background-color: #8D99AE;
}

td:first-child , td:last-child{
    background-color: rgb(255, 220, 220);
}

thead>tr:first-child {
    background-color: rgb(170,170,200);
}

.day {
    background-color: rgb(35,37,70);
    color:  rgb(200,190,240);
}


#vrij {
    background-color:  rgb(250,120,120);
}

a {
    color: blue;
}

