body {
    font-family: 'Helvetica';

}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 40px;
}
header>h1, h2 {
    color: #EDF2F4;
}

header, footer, main {
    padding: 30px;
}
header, footer {
    color: #8D99AE;
    background-color: #2B2D42;
    margin: 10px 10px 10px 0;
}
header {
    margin-bottom: 5px;
}
footer {
    margin-top: 5px;
}
main {
    background-color: #8D99AE;
    margin-right: 10px;
}
a {
    color: #EF233C;
}